body {
    background: url(../img/BackgroundmobileDark.jpg) no-repeat top center/cover;
}

#container {
    width: 360px;
    height: 712px;
    border: 1px solid red;
    margin: auto;
}

#profile img {
    border-radius: 50%;
}